@{
    ViewData["Title"] = "Home Page";
}

<style>
    .index-box {
        margin: 30px;
    }
</style>

<div class="text-center">

    <a asp-controller="Upload" asp-action="Index" class="text-center btn  bg-light d-lg-flex ">
        上传
    </a>
    <br />

    <a asp-controller="Upload" asp-action="Image" class="text-center btn  bg-info d-lg-flex ">
        上传图片
    </a>
    <br />

    <a asp-controller="Upload" asp-action="Video" type="button" class="text-center btn  bg-success d-lg-flex">
        上传视频
    </a>
</div>








